body{
    background-color: blanchedalmond;
    font-family: sans-serif;
}

h1{
    text-align: center;
    background-color: white;
}

ul{
    background-color: white;
}

li {
    margin-top: 5px;
}

a{
    color: rgb(94, 94, 94);
    text-decoration: none;
    

}